# Lab Operations SQL Analysis
This notebook demonstrates SQL-based analysis using window functions and CTEs on synthetic lab performance data.

In [ ]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("lab_operations.db")

In [ ]:
# Show schema
pd.read_sql("PRAGMA table_info(lab_operations);", conn)

In [ ]:
# Preview the data
pd.read_sql("SELECT * FROM lab_operations LIMIT 5;", conn)

In [ ]:

query = '''
SELECT 
    patient_id, test_type, duration_mins,
    RANK() OVER (PARTITION BY test_type ORDER BY duration_mins DESC) AS duration_rank
FROM lab_operations
LIMIT 10;
'''
pd.read_sql(query, conn)

In [ ]:

query = '''
WITH long_tests AS (
    SELECT * FROM lab_operations WHERE duration_mins > 120
)
SELECT test_type, COUNT(*) AS count_long_tests
FROM long_tests
GROUP BY test_type;
'''
pd.read_sql(query, conn)